# Ejercicio de Python

Carga las 3 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, pandas y matplotlib

añade al final %matplotlib inline

**Coloca tu nombre y matricula** 

Nombre: Lizbeth Ramos Saucedo

Matricula: 1885423

In [1]:
##### carga las dos librerias usadas (numpy, pandas ) 
import numpy as np
import pandas as pd

El siguiente comando importa un data frame desde un archivo csv de internet

In [2]:
 ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas1.csv')

In [3]:
#mostrar las primeras 5 filas
ventas.head()

    Año      Mes  Ventas  Gastos
0  2015    Enero     160      71
1  2015  Febrero     191     125
2  2015    Marzo     177      72
3  2015    Abril     154      78
4  2015     Mayo     175     110

In [4]:
#mostrar las ultimas 5 filas
ventas.tail()

     Año         Mes  Ventas  Gastos
31  2017      Agosto     167     107
32  2017  Septiembre     197     111
33  2017     Octubre     160      53
34  2017   Noviembre     171      91
35  2017   Diciembre     110      66

ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2015, 2016 y 2017

1. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [6]:
#escribe el codigo
ventas['Ganancias'] = ventas['Ventas'] - ventas['Gastos']

2. Muestra el dataframe que incluye esta columna

In [7]:
## escribe aqui el código
ventas

     Año         Mes  Ventas  Gastos  Ganancias
0   2015       Enero     160      71         89
1   2015     Febrero     191     125         66
2   2015       Marzo     177      72        105
3   2015       Abril     154      78         76
4   2015        Mayo     175     110         65
5   2015       Junio     143      56         87
6   2015       Julio     109      97         12
7   2015      Agosto     104     100          4
8   2015  Septiembre     176      80         96
9   2015     Octubre     198      51        147
10  2015   Noviembre     120      54         66
11  2015   Diciembre     149     119         30
12  2016       Enero     111      92         19
13  2016     Febrero     198      86        112
14  2016       Marzo     194     101         93
15  2016       Abril     171     102         69
16  2016        Mayo     128      64         64
17  2016       Junio     105     107         -2
18  2016       Julio     172     117         55
19  2016      Agosto     148     110         38
20  2016  Septiembre     134      85         49
21  2016     Octubre     192      70        122
22  2016   Noviembre     156      65         91
23  2016   Diciembre     165     120         45
24  2017       Enero     133     117         16
25  2017     Febrero     128      56         72
26  2017       Marzo     125      89         36
27  2017       Abril     168      52        116
28  2017        Mayo     168      59        109
29  2017       Junio     141     122         19
30  2017       Julio     105      64         41
31  2017      Agosto     167     107         60
32  2017  Septiembre     197     111         86
33  2017     Octubre     160      53        107
34  2017   Noviembre     171      91         80
35  2017   Diciembre     110      66         44

3. Calcula e imprime las ventas totales, gastos totales y ganacias totales de  todo el periodo\
Ejemplo de mensaje= las ventas totales son: \
etc

In [18]:
## escribe aqui el código
print ('Las ventas totales son:')
ventas[['Ventas', 'Gastos', 'Ganancias']].sum()

Las ventas totales son:

Ventas       5503
Gastos       3119
Ganancias    2384
dtype: int64

4. Calcula e imprime las ventas promedio, gastos promedio y ganacias promedio del periodo\
Ejemplo de mensaje= las ventas promedio son: \
etc

In [20]:
## escribe aqui el código
print ('Las ventas promedio son:')
ventas[['Ventas', 'Gastos', 'Ganancias']].mean()

Las ventas promedio son:

Ventas       152.861111
Gastos        86.638889
Ganancias     66.222222
dtype: float64

5. Calcula e imprime las ventas promedio de 2015

In [48]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas 
año_2015 = ventas[ventas['Año'] ==2015]

In [49]:
año_2015

     Año         Mes  Ventas  Gastos  Ganancias
0   2015       Enero     160      71         89
1   2015     Febrero     191     125         66
2   2015       Marzo     177      72        105
3   2015       Abril     154      78         76
4   2015        Mayo     175     110         65
5   2015       Junio     143      56         87
6   2015       Julio     109      97         12
7   2015      Agosto     104     100          4
8   2015  Septiembre     176      80         96
9   2015     Octubre     198      51        147
10  2015   Noviembre     120      54         66
11  2015   Diciembre     149     119         30

In [53]:
print ('Las ventas promedio del 2015 son:')
año_2015[['Ventas']].mean()

Las ventas promedio del 2015 son:

Ventas    154.666667
dtype: float64

6. Calcula e imprime las ventas totales  para los 3 meses de enero. Es decir la suma de enero de 2015, enero de 2016 y enero de 2017

In [46]:
## escribe aqui el código
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas 
enero = ventas[ventas['Mes'] =='Enero']

In [47]:
enero

     Año    Mes  Ventas  Gastos  Ganancias
0   2015  Enero     160      71         89
12  2016  Enero     111      92         19
24  2017  Enero     133     117         16

In [52]:
print ('Las ventas totales de Enero son:')
enero[['Ventas']].sum()

Las ventas totales de Enero son:

Ventas    404
dtype: int64

7. Calcula las ventas promedio por mes, guardalo en un dataframe y por ultimo muestra ordenado por ventas promedio de menor a mayor

In [63]:
## aqui va tu codigo

PROM=ventas.groupby('Mes')['Ventas'].agg(['mean'])

In [61]:
ventas.sort_values('mean', ascending=False)

KeyError: 'mean'